body {
	margin: 0;
	font-family: "Sans serif";
	background-color:#00CCFF;
}
* {
	margin: 0;
	padding: 0;
}
header {
	padding: 5px;
	background-color:black;
	height: 51px;
	padding-bottom: 30px;
}
img {
	max-width: 100%;
}
 .logo  {
	text-align: center;
}
 .bran {
	display: none;
	 padding-top: 20px;
	 color: white;
    font-size: 16px;
}
nav {
    text-align: center;
	background-color: #3333FF;
	padding: 10px 0 10px 10px;
}
nav  a { 
	display: flex;
	font-weight: bold;
	color: white;
	font-size: 18px;
	text-decoration: none;
 }
 nav  a:hover {
	color:black;
	transition: all 500ms ease-out;
}
li {
	list-style: none;
}
.container {
	text-align: center;
}
form {
	text-align: center;
}

table {
	order: 1;
	padding: 30px 0 30px 0;
     margin: auto;
	font-size: 20px;
}
tr{
	text-align: center;
}
th{
	width: 190px;
}
#name {
	color:white;
	background-color: #003333;
}
.grey {
	background-color:#00FFFF;
}
footer { 
	background-color: aliceblue;
   text-align: center;
    border-top: 1px solid black;
    width: 100%;
    margin-top: 50px;
	padding: 20px 0 15px 0;
   
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 550px) 
 {
	 .bran {
		 display: flex;
		 font-size: 20px;
	 }
	  .logo  {
	 padding-left: 20px;
	 margin: 10px;
	 flex: 2;
     order: 1;
	float:left;
	
}
nav {
	background-color: #3333FF;

	margin-top: 10px;
	
}
	 nav a {
		 display: inline-block;
		 margin-left: 18px;
	 }
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	 .logo  {
	 padding-left: 20px;
	 margin: 10px;
	 width: 100px;
	 height:100px;
	float:left;
}
 .bran {
	 padding-top: 20px;
	text-align: left;
	 color: white;
    font-size: 25px;
}
nav {
	text-align: center;
	background-color: #3333FF;
	padding: 2px;
	margin: 30px;
}
nav  a { 
	font-weight: bold;
	color: white;
	margin: 20px;
	font-size: 18px;
	text-decoration: none;
 }
}